<ul>
  <li><a href="#ARDSmechanicalventilationandlunginjury">ARDS, mechanical ventilation, and lung injury</a></li>
  <li><a href="#Cardiothoracicsurgery">Cardiothoracic surgery</a></li>
  <li><a href="#DKA">DKA</a></li>
  <li><a href="#Fluidmanagement">Fluid management</a></li>
  <li><a href="#Glycemiccontrol">Glycemic control</a></li>
  <li><a href="#Guidelines">Guidelines</a></li>
  <li><a href="#Long-termoutcomes">Long-term outcomes</a></li>
  <li><a href="#Miscellaneous">Miscellaneous</a></li>
  <li><a href="#Negativetrials">Negative trials &amp; studies</a></li>
  <li><a href="#Nutrition">Nutrition</a></li>
  <li><a href="#Renalreplacementtherapy">Renal replacement therapy</a></li>
  <li><a href="#Sedation">Sedation</a></li>
  <li><a href="#Sepsisshock">Sepsis &amp; Shock</a></li>
  <li><a href="#Temperaturecontrol">Temperature control</a></li>
  <li><a href="#Transfusion">Transfusion</a></li>
  <li><a href="#Traumaticbraininjury">Traumatic brain injury</a></li>
  <li><a href="#Completeblibligraphy">Complete bibliography</a></li>
</ul>